---
import SvgIcons from '@/components/svgicons.astro'

export interface Props {
  src: string;
  alt: string;
  title: string;
}

const { src, alt, title } = Astro.props as Props;

---
<model-viewer 
  alt={alt}
  src={src}
  shadow-intensity="1" 
  camera-controls 
  touch-action="pan-y">
</model-viewer>

<a href={src} download>
  <button class="download" data-file={src}><SvgIcons filename="download"/></button>
</a>


<script>
  import '@google/model-viewer';
</script>

<style>
 button{
  cursor:pointer;
 } 
</style>
