---
import {getDocuments, getEntry} from 'content-structure'


export interface Props {
    data: object;
}

const {data} = Astro.props;

const documents = await getDocuments({format:"markdown"})

let refs_list = []

for (const doc of documents){
    const entry = await getEntry({uid:doc.uid})
    const refs = entry.data.references
    if(refs.length >0){
        refs.forEach(ref => {
            if(ref.pages.includes(data.uid)){
                refs_list.push(doc.uid)
            }
        });
    }
};

---
{(refs_list.length >0)&&
    <div>references:
        {
            refs_list.map(ref=>(
                <a href={`/${ref}`}>{ref}</a>
            ))
        }
    </div>
}
