---
import {getHighlighter} from 'shikiji';

export interface Props {
    node: object;
}

const { node } = Astro.props as Props;

const highlighter = await getHighlighter({theme:'dark-plus'})

await highlighter.loadTheme('dark-plus')
await highlighter.loadLanguage('js')
const html = highlighter.codeToHtml(node.value, { lang: 'js', theme:'dark-plus' })

---
<div>
    <Fragment set:html={html}></Fragment>
</div>

<style is:global>
pre{
    padding:10px;
}
</style>